@media(max-width: 1200px) {
    .bottomBody{
        max-width: 1000px;
    }

    .income, .expense{
        height: 163px;  
    }
}

@media(min-width:500px) {
    h1{
        font-size: 26px;
    }
    
    h2{
        font-size: 22px;
    }
    
    h3{
        font-size: 18px;
    }
    
    p{
        font-size: 16px;
    }
    
    .income, .expense{
        height: 145px;
    }

    .tableContainer > h3, .tableContainer > h3{
        padding: 4px 0;
    } 

    #remove{
        padding: 2px 0;
    }

    .tableContainer{
        margin: 2rem 0.5rem;
    }

}

@media(max-width: 500px) {
    h1{
        font-size: 23px;
    }
    
    h2{
        font-size: 20px;
    }
    
    h3{
        font-size: 16px;
    }
    
    p{
        font-size: 14px;
    }
    
    .income, .expense{
        height: 145px;
    }

    .tableContainer > h3, .tableContainer > h3{
        padding: 2px 0;
    } 

    #remove{
        padding: 2px 0;
    }

    .tableContainer{
        margin: 1rem 0.5rem;
    }

    .bottomBody > form{
        /* margin: 0 auto; */
        /* padding-top: 1rem; */
        max-width: 200px;
        /* width: auto; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2;
        justify-content: space-around;
    }

    .incomeCurrentAmmount, .expenseCurrentAmmount{
        width: 300px;
        margin: 5px auto;
        padding: 0.5rem 0.5rem;
        /* background-color: black; */
    }
}