@media(max-width: 1200px) {
    .bottomBody{
        max-width: 1000px;
    }

    .income, .expense{
        height: 163px;  
    }
}

@media(max-width:768px) {
    h1{
        font-size: 26px;
    }
    
    h2{
        font-size: 22px;
    }
    
    h3{
        font-size: 18px;
    }
    
    p{
        font-size: 16px;
    }

    .incomeCurrentAmmount, .expenseCurrentAmmount{
        width: 480px;
        margin: 1rem auto;
        padding: 0.5rem 1rem;
    }

    .bottomBody{
        margin: 0 1rem;    
    }    
    
    .income, .expense{
        height: 145px;
    }

    .tableContainer > h3, .tableContainer > h3{
        padding: 4px 0;
    } 

    #remove{
        padding: 2px 0;
    }

    .tableContainer{
        margin: 2rem 0.5rem;
    }

    .bottomBody > form{
        margin: 0 8px;
        width: auto;
        display: grid;
        grid-template-columns: 0.25fr 1fr 0.75fr 0.5fr;
    }

    .bottomBody > form > *{
        margin: 0 2px;
        padding: 0 3px;
    }
    

}

@media(max-width: 500px) {
    h1{
        font-size: 23px;
    }
    
    h2{
        font-size: 18px;
    }
    
    h3{
        font-size: 16px;
    }
    
    p{
        font-size: 14px;
    }

    .bottomBody{
        border: black 1px solid;
        margin: 0 auto;
    }

    .income, .expense{
        height: 105px;
    }

    .tableContainer > h3, .tableContainer > h3{
        padding: 0;
    } 

    #remove{
        padding: 2px 0;
    }

    .tableContainer{
        margin: 1rem 0.5rem 0 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .income > div, .expense > div{
        padding: 0 4px;
    }

    .tableContainer > *{
        margin-bottom: 3px;
    }

    .bottomBody > form{
        padding-top: 1rem; 
        width: auto; 
        display: grid;
        grid-template-columns: 1fr;
    }

    .incomeCurrentAmmount, .expenseCurrentAmmount{
        width: 280px;
        margin: 4px auto;
        padding: 2px 0.5rem;
    }

    .bottomBody > form > *{
        height: 1.75rem;
    }

    .top{
        padding: 1rem 0 0.5rem 0;
        line-height: 1.75rem;
    }
    
    .incomeCurrentAmmount, .expenseCurrentAmmount{
        border: white 1px solid;
        margin: 4px 1rem;
        margin-bottom: 5px;
        padding: 4px 0.5rem;
    }

    .remainingBudget{
        width: 275px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: brown; */
    }
}